

#herois {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#herois .personagem{
    display: flex;
    flex-direction: column;
    margin: 0 10px;

}

#herois .personagem img{
    width: 300px;
    height: 300px;
    overflow: hidden;
}